.App {
  /* text-align: center; */
}

.nav {
  margin: 40px 0;
  margin-left: 480px;
  /* font-size: 20px; */
  
}

.nav-link {
  font-family: 'Luckiest Guy', cursive;
  font-size: 50px;
 
  /* margin-left: 30px; */
}

.SmurfForm {
  background:DodgerBlue;
}

.card-head {
  font-family: 'Luckiest Guy', cursive;
  font-size: 40px;
  color: white;
  background: dodgerblue;
}
